@{
    ViewData["Title"] = "ErrorView";
}

<div class="text-center">
    <h1 class="display-4">Ocorreu um Erro na Operação</h1>
    <p>Seu arquivo CSV não foi importado para nosso banco de dados, verifique o tipo de arquivo que foi enviado/ ou se não foi selecionado corretamente.</p>
</div>