@{
    ViewData["Title"] = "ErrorPage";
}

<div class="text-center">
    <h1 class="display-4">Ocorreu um Erro na Operação</h1>
    <p>Seu arquivo CSV Não foi importado devido a um erro, verique o tipo de arquivo ou se foi realmente selecionado</p>
</div>