@{
    ViewData["Title"] = "Privacy Policy";
}
<div>
    <h1>Sobre esse Aplicativo</h1>

    <p>Esse aplicativo importa um arquivo CSV de sua escolha, trata seus dados de acordo com os parâmetros fornecidos pela empresa e depois
        salva em um banco de dados(MySQL).
    </p>

    <p>
        É possível ver os produtos importados na aba acima ( Lista de Produtos )
    </p>
</div>