@{
    ViewData["Title"] = "Produtos";
}

<div class="text-center">
    <h1 class="display-4">Operação Feita com SUCESSO</h1>
    <p>Seu arquivo CSV foi importado para nosso banco de dados, para acessar, vá até a página Arquivos BD</p>
</div>