<!DOCTYPE html>
<html>
@{
    ViewData["Title"] = "ProdutoError";
}

<div class="text-center">
    <h1 class="display-4">Infelizmente Nenhum produto foi cadastrado</h1>
    <p>Fique a vontade para importar listas de produtos em formato CSV para salvar em nosso banco de dados.</p>
</div>
